body {
    background-size: 100%;
    background-color: #367ABD;
}

nav {
    opacity: 0.8;
}

.navbar{
    background-color: #6BCCFF;
    border-color: #6BCCFF;
}


#white-keys div {
    display: inline-block;
    width: 60px;
    background: white;
    height: 300px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

#black-keys div{
    pointer-events: all;
}

#black-keys div:not(#first):not(#last){

    display: inline-block;
    background: black;
    height: 100%;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


#black-keys.invisible {
    pointer-events: none;
}

#first {
    display: inline-block;
    background: black;
    height: 100%;
    width: 40px;
    margin-right: 10px;

}

#last {
    display: inline-block;
    background: black;
    height: 100%;
    width: 40px;
    margin-left: 10px;
}