body {
/*    background-size: 100%;
*/    background-image: url('../images/dimension.png');
}

.navbar{
    border-width: 0px;
    background-color: transparent;
}

#white-keys {
    position: absolute;
    height: 300px;
    width: 1260px;
}

#white-keys div {
    display: inline-block;
    width: 60px;
    background: white;
    height: 300px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

#black-keys {
    position: absolute;
    height: 230px;
    left: 40px;
    width: 1180px;
    pointer-events: none;
}

#black-keys div{
    pointer-events: all;
}

#black-keys div:not(#first):not(#last){

    display: inline-block;
    background: black;
    height: 100%;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


#black-keys.invisible {
    pointer-events: none;
}

#first {
    display: inline-block;
    background: black;
    height: 100%;
    width: 40px;
    margin-right: 10px;

}

#last {
    display: inline-block;
    background: black;
    height: 100%;
    width: 40px;
    margin-left: 10px;
}

/*#canvas_outer_div {
    margin-right: 0;
    padding-right: 0;
}*/


#canvas_inner_div {
    overflow: hidden;
    text-align: center;
    overflow-x: auto;
}


#keyboard {
    padding: 20px;
    padding-top: 10px;
    overflow: hidden;
}

#inner_keyboard {
    position: relative;
    overflow-x:auto;
    height: 340px;
    background: rgba(0,0,0,0.8);
    max-width: 1260px;
}

.titles {
    text-align: center;
}

.song_card {
    display: inline-block;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second_color {
    background: rgba(129,252,173,0.8);
}

.accent_color {
    color: #f58db6;
}

.accent_button {
    background-color: #f58db6;
}

.selected_rhythm {
    background-color: rgb(129,252,173);
}

.selected_rhythm:hover {
    background-color: rgb(129, 252, 173);
}

.selected_rhythm:active {
    background-color: rgb(129, 252, 173);
}

.selected_rhythm:focus {
    background-color: rgb(129, 252, 173);
}
