{% extends 'base.html' %}

{% block body %}

<form action='/#' id='melody-input' method='POST'>
    <input type='text' name='text' id='melody'>
    <button class="btn btn-sm btn-default" id='mel_submit' type="submit">Submit</button>
</form>

<audio id='audio' src='static/song.wav'></audio>

<button class='b' id='play' type="button" hidden>Play Audio</button>
<button class='b' id='pause' type="button" hidden>Pause Audio</button>

<script>

// var x = $('#audio');
var x = document.getElementById('audio');

$('#play').on('click', function() {
    x.play();
});

$('#pause').on('click', function() { 
    x.pause();
});


$('#mel_submit').on('click', function(evt){
    evt.preventDefault();
    $('.b').attr('hidden', true);
    melody = $('#melody').val();
    console.log(melody);
    $.post('/process_song', {'melody': melody}, function(){
        $('.b').attr('hidden', false);
    });
});

</script>
{% endblock %}