<!--This is going to be my piano!!!!!!!!!!!!-->
<div class="col-xs-12" style="padding: 20px;">
  <div class="img-rounded" style="height: 300px; overflow: hidden; background: rgba(0,0,0,0.7); overflow-x: auto;">
    <div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div><!-- 
     --><div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div><!-- 
     --><div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div><!-- 
     --><div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div><!-- 
     --><div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div><!-- 
     --><div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div><!-- 
     --><div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div><!-- 
     --><div class="img-rounded" style="display: inline-block; width: 60px; background: white; height: 300px; border-style: solid; border-color: grey; border-width: 1px;"></div>

     <div class="img-rounded" style="display: inline-block; background: black; height: 230px; width: 40px; position: absolute; left: 60px;"></div>
     <div class="img-rounded" style="display: inline-block; background: black; height: 230px; width: 40px; position: absolute; left: 120px;"></div>
     <div class="img-rounded" style="display: inline-block; background: black; height: 230px; width: 40px; position: absolute; left: 240px;"></div>
     <div class="img-rounded" style="display: inline-block; background: black; height: 230px; width: 40px; position: absolute; left: 300px;"></div>
     <div class="img-rounded" style="display: inline-block; background: black; height: 230px; width: 40px; position: absolute; left: 360px;"></div>

  </div>
</div>
