{% extends 'base.html' %}

{% block body %}

<h1 class="titles accent_color">{{ username }}</h1>

<h2 class="titles" style="color: #696969;">Your saved songs:</h2>

{% for song in songs %}

  <div class="song_card second_color img-rounded col-xs-12 col-sm-8 col-sm-offset-2">

    <div class="titles">
      <h3>{{ song.name }}</h3>
      <div style="text-align: center; overflow-x: auto;">
        <img src={{ song.score_path }}>
      </div>
      <br>

      <audio id={{'play' + song.song_id|string}} src={{ song.song_path }}></audio>

      <div class='btn-group btn-group-lg' id={{'song' + song.song_id|string}} role='group' style="margin-bottom: 10px;">
        <button class='play btn btn-default' type="button">
          <span class="glyphicon glyphicon-play" style="pointer-events: none;"></span>
        </button>
        <button class='pause btn btn-default' type="button">
          <span class="glyphicon glyphicon-pause" style="pointer-events: none;"></span>
        </button>
        <button class='stop btn btn-default' type="button">
          <span class="glyphicon glyphicon-stop" style="pointer-events: none;"></span>
        </button>
        <button class='unsave btn btn-default' type="button" data-toggle="modal" data-target="#confirm">
          <span class="glyphicon glyphicon-floppy-remove" style="pointer-events: none;"></span>
        </button>
      </div>
    </div>
  </div>
  <br>

    <!-- Modal -->
  <div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to delete your song?</h4>
        
        </div>
    
        <div class="modal-body">

          <form class='form-inline'>

          <button id='confirm_delete' type='submit' class="btn btn-md btn-danger" data-dismiss="modal">Delete it!</button>

          <button id='not_delete' type='submit' class="btn btn-md btn-default" data-dismiss="modal">No wait, don't!</button>

          </form>
        
        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


{% endfor %}

<footer>
  <button style="margin: 20px; bottom:0;" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_profile">I want to delete my profile, please!</button>

      <!-- Modal -->
  <div class="modal fade" id="delete_profile" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to delete your entire profile?? All your songs will be gone!! :(</h4>
        
        </div>
    
        <div class="modal-body">

          <form class='form-inline'>

          <button id='confirm_profile_delete' type='submit' class="btn btn-md btn-danger" data-dismiss="modal">Delete it!</button>

          <button id='not_profile_delete' type='submit' class="btn btn-md btn-default" data-dismiss="modal">No wait, don't!</button>

          </form>
        
        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

</footer>

<script src="static/js/profile.js"></script>

{% endblock %}
